In [1]:
a = range(1,100)

In [2]:
a

range(1, 100)

In [3]:
for i in a:
    if i%2==0:
        print("{} number is even".format(i))
    else:
        print("{} number is odd".format(i))

1 number is odd
2 number is even
3 number is odd
4 number is even
5 number is odd
6 number is even
7 number is odd
8 number is even
9 number is odd
10 number is even
11 number is odd
12 number is even
13 number is odd
14 number is even
15 number is odd
16 number is even
17 number is odd
18 number is even
19 number is odd
20 number is even
21 number is odd
22 number is even
23 number is odd
24 number is even
25 number is odd
26 number is even
27 number is odd
28 number is even
29 number is odd
30 number is even
31 number is odd
32 number is even
33 number is odd
34 number is even
35 number is odd
36 number is even
37 number is odd
38 number is even
39 number is odd
40 number is even
41 number is odd
42 number is even
43 number is odd
44 number is even
45 number is odd
46 number is even
47 number is odd
48 number is even
49 number is odd
50 number is even
51 number is odd
52 number is even
53 number is odd
54 number is even
55 number is odd
56 number is even
57 number is odd
58 number is even
59 number is odd
60 number is even
61 number is odd
62 number is even
63 number is odd
64 number is even
65 number is odd
66 number is even
67 number is odd
68 number is even
69 number is odd
70 number is even
71 number is odd
72 number is even
73 number is odd
74 number is even
75 number is odd
76 number is even
77 number is odd
78 number is even
79 number is odd
80 number is even
81 number is odd
82 number is even
83 number is odd
84 number is even
85 number is odd
86 number is even
87 number is odd
88 number is even
89 number is odd
90 number is even
91 number is odd
92 number is even
93 number is odd
94 number is even
95 number is odd
96 number is even
97 number is odd
98 number is even
99 number is odd

In [38]:
num = int(input("enter a number to find if it is prime or not"))
flag = False
for i in range(2, num):
    if (num % i) == 0:
        # if factor is found, set flag to True
        flag = True
        # break out of loop
        break
        
if flag:
     print("this is not prime number {}".format(b))
else:
     print("this is  prime number {}".format(b))

enter a number to find if it is prime or not11
this is  prime number 4

In [34]:
num = int(input("enter a number to find if it is prime or not"))
flag = False
for i in range(2, num):
    if (num % i) == 0:
        flag = True
        break

if flag:
    print(num, "is not a prime number")
else:
    print(num, "is a prime number")

enter a number to find if it is prime or not4
4 is not a prime number

In [39]:
cars = ["Ford", "Volvo", "BMW"]

In [48]:
cars[0:-1]

['Ford', 'Volvo']

In [49]:
list2 = [1, 5, 7, 9, 3]

In [50]:
list2.max()

AttributeError: 'list' object has no attribute 'max'

In [51]:
min(list2)

1

In [52]:
max(list2)

9

In [55]:
sorted(list2)[-0]

1

In [58]:
list2.insert(2,20)

In [59]:
list2

[1, 3, 20, 5, 7, 9]

In [60]:
list2[1:2] = [30,40,50]

In [65]:
list2

[1, 30, 40, 50, 20, 5, 7, 9]

In [62]:
matrix = [1, 2, 3,[4, 5]]

In [127]:
matrix[-2:-1]

[3]

In [64]:
matrix[-1][1]

5

In [74]:
list2

[1, 30, 40, 50, 20, 5, 7, 9]

In [71]:
even = [x for x in list2 if x%2 == 0]
odd = [x for x in list2 if x%2 != 0]

In [72]:

odd

[1, 5, 7, 9]

In [73]:
even

[30, 40, 50, 20]

In [75]:
sorted(even)[0]  #ASCENDING
sorted(even,reverse=True)[0]  #DESCENDING

50

In [76]:
list2

[1, 30, 40, 50, 20, 5, 7, 9]

In [77]:
list2.count(5)

1

In [86]:
def secondmax(arr):
    sublist = [x for x in arr if x < max(arr)]
    return max(sublist)

def secondmin(arr):
    listing = [x for x in arr if x > min(arr)]
    return min(listing)

if __name__ == '__main__':
    arr = [10, 20, 4, 45, 99]
    print("this is second max ",secondmax(arr))
    print("this is second min ",secondmin(arr))

this is second max  45
this is second min  10

In [ ]:
even_list=[]
odd_list=[]
[even_list.append(x) if (x%2) == 0 else odd_list.append(x) for x in my_list]

In [124]:
arr = [1,1,2,2,3,4,4]
for i in range(len(arr)):
    if i < len(arr):
        print("value",arr[i] ," "+" count ",arr.count(arr[i]))

value 1   count  2
value 1   count  2
value 2   count  2
value 2   count  2
value 3   count  1
value 4   count  2
value 4   count  2

In [150]:
a1= {10,20,10,20,30,(1,2,3),(1,2,3)}

In [151]:
a1[2][0]=4

TypeError: 'set' object is not subscriptable

In [152]:
a1

{(1, 2, 3), 10, 20, 30}

In [135]:
al.clear()

NameError: name 'al' is not defined

In [153]:
my_set = {1, 3}
print(my_set)

# my_set[0]
# if you uncomment the above line
# you will get an error
# TypeError: 'set' object does not support indexing

# add an element
# Output: {1, 2, 3}
my_set.add(2)
print(my_set)

# add multiple elements
# Output: {1, 2, 3, 4}
my_set.update([2, 3, 4])
print(my_set)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [155]:
my_set.update((10, 3, 4))

In [156]:
print(my_set)

{1, 2, 3, 4, 5, 6, 8, 10}

In [157]:
my_set = set("HelloWorld")
print(my_set)

{'W', 'e', 'o', 'H', 'r', 'l', 'd'}

In [158]:
my_set.pop()

'W'

In [159]:
my_set.pop()

'e'

In [160]:
my_set[2]

TypeError: 'set' object is not subscriptable

In [162]:
# empty dictionary
my_dict = {}

# dictionary with integer keys
my_dict1 = {1: 'apple', 2: 'ball'}

# dictionary with mixed keys
my_dict2 = {'name': 'John', 1: [2, 4, 3]}

# using dict()
my_dict3 = dict({1:'apple', 2:'ball'})

# from sequence having each item as a pair
my_dict4 = dict([(1,'apple'), (2,'ball')])

In [163]:
my_dict

{}

In [164]:
my_dict1

{1: 'apple', 2: 'ball'}

In [165]:
my_dict2

{'name': 'John', 1: [2, 4, 3]}

In [166]:
my_dict3

{1: 'apple', 2: 'ball'}

In [167]:
my_dict4

{1: 'apple', 2: 'ball'}

In [175]:
def mul(x):
  print(x)
  return x*x

ls = {0: 1, 3: 9, 5: 25, 7: 49, 9: 81}

result = map(mul,ls)
print(result)
print(list(result))

<map object at 0x7ff037b1f1c0>
0
3
5
7
9
[0, 9, 25, 49, 81]

In [213]:
def cub(x):
  return x**3

ls = [1,2,3]

result = map(cub,ls)
result1 = zip(ls,result)
print(set(result1))

{(1, 1), (3, 27), (2, 8)}

In [214]:
def root(x):
  return x*x*x
a = [1,2,3]
result = map(root,a)
ka = (zip(a,result))
# print(list(ka))

In [215]:
# tÂ = (7,8,9,1,10,7)
t = {10,20,30}
temp = 0
for i in t:
    temp+=i
    print(temp)

10
30
60

In [216]:
print(type(t))
sum(t)

<class 'set'>

60